<nav aria-label="...">
<ul class="pagination">
    <li *ngIf="currentPage !== 1"
        (click)="setPage(currentPage - 1)" class="page-item">
      <button class="page-link">Previous</button>
    </li>
    <li *ngFor="let p of pagesArray; let index = index" class="page-item" [ngClass]="{ 'active': currentPage === index + 1 }"
    ><button class="page-link" (click) ="setPage(index+1)" >{{ index + 1 }}</button>
  </li>
    <li  *ngFor="let page of pagesArray; let index = index"
          [ngClass]="{ 'active': currentPage === index + 1 }"
          (click)="setPage(index + 1)" class="page-item active">
    <li *ngIf="currentPage !== pagesArray.length" class="page-item">
      <button class="page-link" (click)="setPage(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>